* {
    transition: all 0.5s ease !important; /* Ensure all properties transition */
  }

/* Base theme variables */
:root {
    --bg-color: rgb(33, 37, 41);
    --text-color: rgb(255, 255, 255);
    --features-hover-bg: rgba(255, 255, 255, 0.181);
    --bottom-line-color: 1px solid white;
    --selected-mode: rgb(25, 135, 84);
    --btn-color:rgb(33,37,41);
    --scroll-btn-color: rgb(33, 37, 41, 0.85);
    --scroll-btn-hover: rgb(33, 37, 41);
}

/* Short break colors */
[data-theme="shortBreak"] {
    /* --bg-color: rgb(99, 99, 99); */
    --bg-color: rgb(56, 128, 62);
    --text-color: rgb(255, 255, 255);
    --features-hover-bg: rgba(255, 255, 255, 0.181);
    --bottom-line-color: 1px solid white;
    --selected-mode: rgb(46, 102, 50);
    --btn-color: rgb(46, 102, 50);
    --scroll-btn-color: rgb(56, 128, 62, 0.9);
    --scroll-btn-hover: rgb(46, 102, 50);
}
  
/* Long break colors */
[data-theme="longBreak"] {
    --bg-color: rgb(153, 58, 58);
    --text-color: rgb(255, 255, 255);
    --features-hover-bg: rgba(255, 255, 255, 0.181);
    --bottom-line-color: 1px solid white;
    --selected-mode: rgb(124, 47, 47);
    --btn-color: rgb(124, 47, 47);
    --scroll-btn-color: rgb(153, 58, 58, 0.9);
    --scroll-btn-hover: rgb(153, 58, 58);
}

.themed-box {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* No inversion for light mode */
.functionalitiesIcons {
    transition: filter 0.5s ease;
}