nav#menuNavbar.navbar.navbar-dark.bg-dark {
    display: flex !important;
    align-items: baseline !important;
}

img.functionalitiesIcons {
    height: 1.4rem; 
    margin-right: 20px;
}

.features {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
    border: 2px solid transparent !important;
    padding-right: 50px;
}

.features:hover {
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-color);
    background: var(--features-hover-bg);
    border: 2px solid transparent !important;
}

#modes {
    color: var(--text-color);
    font-weight: 600;
}

.miniMenu {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: var(--bottom-line-color)
}

.miniMenuSettings {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-link.active {
    background-color: var(--selected-mode) !important; /* e.g., Bootstrap's success green */
    color: var(--text-color) !important;
  }