#scrollToTopButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: var(--scroll-btn-color);
    border-radius: 50px;
    border: none;
    margin-top: 100px;
    transition: none !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}


#scrollToTopButton:hover {
    cursor: pointer;
    background-color: var(--scroll-btn-hover);
}

#scrollToTopButton img {
    max-width: 70%;
    height: auto;
}