#buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pause {
    display: none;
}

#restart {
    display: none;
}

#countdownText {
    font-size: 100pt;
}

.timerBtn {
    background-color: var(--btn-color);
    color: var(--text-color);
}

.timerBtn:hover {
    color: var(--text-color);
}

#pomodoroInfo{
    margin-top: 40px;
}